.container {
	height: 100%;
}

.login_btn {
	display: block;
	margin: auto;
	padding: 15px;
	border: solid black;
	border-radius: 7px;
	font-family: 'Press Start 2P';
	font-weight: bold;
	font-size: 18pt;
	color: gray;
	text-shadow: -1px -1px black, 1px 1px white;
	margin: 0 auto;
	top: 50%;
}
