.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 80px 0;
}

.container .game_option {
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	border-radius: 25px;
	box-shadow: 0 0 12px rgba(0,0,0, .08);
	padding: 30px 80px;
}

.container .game_option h2 {
	font-family: 'Press Start 2P', serif;
	font-size: 15px;
	margin-bottom: 60px;
}

.container .game_option .divider {
	margin: 40px 0;
}

.form {
	text-align: center;
}

.form-wrapper {
	margin-top: 50px;
}

.btn-back {
	margin: 80px 0 0 20px;
}

@media screen and (max-width: 900px) {
	.container {
		flex-direction: column;
	}

	.container .game_option {
		margin: 0 auto 30px auto;
	}
}
